@import "tailwindcss";

body{
    margin:0px;
}
#root{
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items: center;
}
*{
    box-sizing: border-box;
}
html, body {
  background-color: #23263A;
  min-height: 100%;
}
/* globalny scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #333757;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff6467;
  border-radius: 4px;
  border: 2px solid #333757;
}

::-webkit-scrollbar-thumb:hover {
  background-color:  #ff393c;
}


@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(20px); }
  10%, 90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(20px); }
}

.animate-fade-in-out {
  animation: fadeInOut 2s ease-in-out forwards;
}
